$couleur_background: #181a1d;
$couleur_desktop: #0f346b;
$couleur_text: white;
$couleurs : (
    primaire : $couleur_desktop,
    text:#ffffff,
    primaire_pale : lighten($couleur_desktop, 40%)
    );


@function couleur($propriete){
    @return map-get($couleurs, $propriete);
}